/workshops/FP02_controlStatement/nbproject/private/
/workshops/UNIT1/WS03operators/BasicOperations/nbproject/private/
/workshops/UNIT1/WS03operators/BasicOperations/build/
/assignments/Unit 1/HW02/Area Of A Pentagon With Int/nbproject/private/
/assignments/Unit 1/HW02/Area Of A Pentagon With Int/build/
/assignments/Unit 1/HW02/AreaOfaPentagonWithShort/nbproject/private/
/assignments/Unit 1/HW02/AreaOfAPentagonWithInt/build/
/assignments/Unit 1/HW02/AreaOfAPentagonWithInt/nbproject/private/
/assignments/Unit 1/HW02/AreaOfaPentagonWithShort/build/
/assignments/Unit 1/HW02/AreaofaPentagonWithfloat/nbproject/private/
/assignments/Unit 1/HW02/AreaofaPentagonWithfloat/build/
/assignments/Unit 1/HW02/JavaApplication8/nbproject/private/
/assignments/Unit 1/HW02/JavaApplication8/build/
/assignments/Unit 1/HW02/JavaApplication9/nbproject/private/
/assignments/Unit 1/HW02/PermieterofpentagonwithShort/nbproject/private/
/assignments/Unit 1/HW02/PermieterofpentagonwithShort/build/
/assignments/Unit 1/HW02/AreaPentagonwithIn/nbproject/private/
/assignments/Unit 1/HW02/AreaPentagonwithIn/build/
/assignments/Unit 1/HW02/AreaOfPentagonWithInt/nbproject/private/
/assignments/Unit 1/HW02/AreaOfPentagonWithInt/build/
/assignments/Unit 1/HW02/AreaofOentagonWithShort/nbproject/private/
/assignments/Unit 1/HW02/AreaofOentagonWithShort/build/
/assignments/Unit 1/HW02/SidesofPentagonWithshort/build/
/assignments/Unit 1/HW02/SidesofPentagonWithshort/nbproject/private/
/assignments/Unit 1/HW02/PentagonsidesWithShort/nbproject/private/
/assignments/Unit 1/HW02/PentagonsidesWithShort/build/
/assignments/Unit 1/HW02/AreaOfPentagonWithShort/nbproject/private/
/assignments/Unit 1/HW02/AreaOfPentagonWithShort/build/
/workshops/UNIT1/WS04ComparisionOperator/nbproject/private/
/workshops/UNIT1/WS04LogicalOperator/nbproject/private/
/workshops/UNIT1/WS04LogicalOperator/build/
/workshops/UNIT1/WS05Iterations/nbproject/private/
/workshops/UNIT1/WS05Iterations/build/
/workshops/UNIT1/WS05Interations/nbproject/private/
/assignments/Unit 1/HW03Interations/nbproject/private/
/assignments/Unit 1/HW03Interations/build/
/workshops/UNIT1/WS07MENUS/nbproject/private/
/workshops/UNIT1/WS07MENUS/build/