/workshops/FP02_controlStatement/nbproject/private/
/workshops/UNIT1/WS03operators/BasicOperations/nbproject/private/
/workshops/UNIT1/WS03operators/BasicOperations/build/
/assignments/Unit 1/HW02/Area Of A Pentagon With Int/nbproject/private/
/assignments/Unit 1/HW02/Area Of A Pentagon With Int/build/
/assignments/Unit 1/HW02/AreaOfaPentagonWithShort/nbproject/private/
/assignments/Unit 1/HW02/AreaOfAPentagonWithInt/build/
/assignments/Unit 1/HW02/AreaOfAPentagonWithInt/nbproject/private/
/assignments/Unit 1/HW02/AreaOfaPentagonWithShort/build/
/assignments/Unit 1/HW02/AreaofaPentagonWithfloat/nbproject/private/
/assignments/Unit 1/HW02/AreaofaPentagonWithfloat/build/
/assignments/Unit 1/HW02/JavaApplication8/nbproject/private/
/assignments/Unit 1/HW02/JavaApplication8/build/
/assignments/Unit 1/HW02/JavaApplication9/nbproject/private/
/assignments/Unit 1/HW02/PermieterofpentagonwithShort/nbproject/private/
/assignments/Unit 1/HW02/PermieterofpentagonwithShort/build/
/assignments/Unit 1/HW02/AreaPentagonwithIn/nbproject/private/
/assignments/Unit 1/HW02/AreaPentagonwithIn/build/
/assignments/Unit 1/HW02/AreaOfPentagonWithInt/nbproject/private/
/assignments/Unit 1/HW02/AreaOfPentagonWithInt/build/
/assignments/Unit 1/HW02/AreaofOentagonWithShort/nbproject/private/
/assignments/Unit 1/HW02/AreaofOentagonWithShort/build/
/assignments/Unit 1/HW02/SidesofPentagonWithshort/build/
/assignments/Unit 1/HW02/SidesofPentagonWithshort/nbproject/private/
/assignments/Unit 1/HW02/PentagonsidesWithShort/nbproject/private/
/assignments/Unit 1/HW02/PentagonsidesWithShort/build/
/assignments/Unit 1/HW02/AreaOfPentagonWithShort/nbproject/private/
/assignments/Unit 1/HW02/AreaOfPentagonWithShort/build/
/workshops/UNIT1/WS04ComparisionOperator/nbproject/private/
/workshops/UNIT1/WS04LogicalOperator/nbproject/private/
/workshops/UNIT1/WS04LogicalOperator/build/
/workshops/UNIT1/WS05Iterations/nbproject/private/
/workshops/UNIT1/WS05Iterations/build/
/workshops/UNIT1/WS05Interations/nbproject/private/
/assignments/Unit 1/HW03Interations/nbproject/private/
/assignments/Unit 1/HW03Interations/build/
/workshops/UNIT1/WS07MENUS/nbproject/private/
/workshops/UNIT1/WS07MENUS/build/
/assignments/Unit 1/HW04Menus/nbproject/private/
/assignments/Unit 1/HW04Menus/build/
/workshops/UNIT1/WS07Menus/nbproject/private/
/workshops/UNIT1/WS07Menus/build/
/exams/CalvacheEmiliaQ11.java/nbproject/private/
/exams/CalvacheEmiliaQ11.java/build/
/workshops/UNIT 2/CORRECTION/nbproject/private/
/workshops/UNIT 2/CORRECTION/build/
/workshops/UNIT 2/WS08DEBUGGING/nbproject/private/
/workshops/UNIT 2/WS08DEBUGGING/build/
/assignments/Unit 2/HW05FACTORIAL/nbproject/private/
/assignments/Unit 2/HW05FACTORIAL/build/
/assignments/Unit 2/HW08-FactorialNumber/nbproject/private/
/assignments/Unit 2/HW08-FactorialNumber/build/
/assignments/Unit 2/HW09-EMBEDDEDSTRUCTURES/nbproject/private/
/assignments/Unit 2/HW09-EMBEDDEDSTRUCTURES/build/
/workshops/UNIT 2/WS10Functions/nbproject/private/
/workshops/UNIT 2/WS10Functions/build/
/workshops/UNIT 2/WS10Functions/dist/
/assignments/Unit 2/HW10-FUNCTIONS/nbproject/private/
/assignments/Unit 2/HW10-FUNCTIONS/build/
/workshops/UNIT 2/WS11FUNCTIONSANDRECURSION/WS11FUNCTIONSANDRECURSION/nbproject/private/
/workshops/UNIT 2/WS11FUNCTIONSANDRECURSION/WS11FUNCTIONSANDRECURSION/build/
/workshops/UNIT 2/WS11FUNCTIONSANDRECURSION/WS11REFACTOR/nbproject/private/
/workshops/UNIT 2/WS11FUNCTIONSANDRECURSION/WS11REFACTOR/build/
/assignments/Unit 2/HW11RECURSION/nbproject/private/
/assignments/Unit 2/HW11RECURSION/build/
/assignments/Unit 2/JavaApplication39/nbproject/private/
/assignments/Unit 2/JavaApplication39/build/
/assignments/Unit 2/JavaApplication40/nbproject/private/
/assignments/Unit 2/JavaApplication40/build/
/assignments/Unit 2/JavaApplication41/nbproject/private/
/assignments/Unit 2/JavaApplication41/build/
/assignments/Unit 2/JavaApplication42/nbproject/private/
/assignments/Unit 2/JavaApplication42/build/
/assignments/Unit 2/JavaApplication43/nbproject/private/
/assignments/Unit 2/JavaApplication43/build/
/assignments/Unit 2/HW11RECURSION/HW11RECURSIONPROYECT/nbproject/private/
/assignments/Unit 2/HW11RECURSION/HW11RECURSIONPROYECT/build/
/assignments/Unit 2/HW11RECURSION/dist/
/workshops/UNIT 2/WS11FUNCTIONSANDRECURSION/WS11FUNCTIONSANDRECURSION/dist/
/workshops/UNIT 2/WS12LIBRARIES/nbproject/private/
/workshops/UNIT 2/WS12LIBRARIES/build/
/assignments/Unit 2/HW12TAXES/nbproject/private/
/assignments/Unit 2/HW12TAXES/build/
/workshops/UNIT 2/WS13TASK/nbproject/private/
/workshops/UNIT 2/WS13TASK/build/
/workshops/UNIT 2/W14Arrays/nbproject/private/
/workshops/UNIT 2/W14Arrays/FarmSimulator/nbproject/private/
/workshops/UNIT 2/WS14 ARRAYS/FarmSimulation/nbproject/private/
/workshops/UNIT 2/WS14 ARRAYS/FarmSimulation/build/
/assignments/Unit 2/HW14Arrays/nbproject/private/
/assignments/Unit 2/HW14Arrays/build/
/Quizes/ArrayQuiz22-02/nbproject/private/
/Quizes/ArrayQuiz22-02/build/
/workshops/UNIT 2/W15solutionArrayQuiz/nbproject/private/
/workshops/UNIT 2/W15solutionArrayQuiz/build/
/workshops/UNIT 2/W15solutionArrayQuiz/dist/
/workshops/UNIT 2/W16/MatrixAddition/nbproject/private/
/workshops/UNIT 2/W16/MatrixAddition/build/
/assignments/Unit 2/HW15-MatrixOperation/nbproject/private/
/assignments/Unit 2/HW15-MatrixOperation/build/
/workshops/UNIT 2/WS17TranspotitionMatrix/nbproject/private/
/workshops/UNIT 2/WS17TranspotitionMatrix/build/
/assignments/Unit 2/HW16MATRIXFUNTION/nbproject/private/
/assignments/Unit 2/HW16MATRIXFUNTION/build/
/exams/Unit2/CalvacheFQ11/nbproject/private/
/exams/Unit2/CalvacheEQ11/nbproject/private/
/exams/Unit2/CalvacheEQ11/build/
/workshops/UNIT 3/WS19/WS19/nbproject/private/
/workshops/UNIT 3/WS19/WS19/build/
/workshops/UNIT 3/WS19/CalderonDQ11/nbproject/private/
/workshops/UNIT 3/WS19/CalderonDQ11/build/
/workshops/UNIT 3/WS19/CambiAQ11/nbproject/private/
/workshops/UNIT 3/WS19/CambiAQ11/build/
/workshops/UNIT 2/WS08DEBUGGING/dist/
/workshops/UNIT 2/WS17TranspotitionMatrix/dist/